

:root{

    --cor-cinza: #f5f5f5;
    --cor-cinza-escuro: #888888;
    --cor-cinza-claro: #e0e0e0;
    --cor-branca: #ffffff;
    --cor-azul: #3B82F6;
    --cor-azul-escuro: #1D4ED8;
    --cor-verde: #22c55e;
    --cor-amarelo: #eab308;


    --familia-titulo: 'Roboto', sans-serif;;


    

}