@import url('../base/reset.css');
@import url('../base/variaveis.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;500;900&display=swap');


body{

    background-color: #fafafa;
    font-family: var(--familia-titulo);

    height: 100%;
    margin: 1em;
}


.conteiner{
    padding: 1em;
    background-color: var(--cor-cinza);
    width: 60vw;
}