.estado{
    /* margin-top: .5em; */
    display: grid;
    /* grid-gap: .5em; */
}

.estado-conteiner{
    border: 1px solid var(--cor-cinza-claro);
    display: grid;
    grid-template-columns: 8% auto;
    align-items: center;
    justify-content: start;
    justify-items: center;
}

.estado__header{
    border: 1px solid var(--cor-cinza-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.estado__logo__correios{
    height: 100px;
}

