.estado{
    /* margin-top: .5em; */
    display: grid;
    /* grid-gap: .5em; */
}

.estado-conteiner{
    border: 1px solid var(--cor-cinza-claro);
    display: grid;
    grid-template-columns: 8% auto;
    align-items: center;
    justify-content: start;
    justify-items: center;
}

.estado__header{
    border: 1px solid var(--cor-cinza-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.estado__logo__correios{
    height: 100px;
}

.estado__titulo{
    font-weight: 500;
    font-size: 1.2rem;
}

.estado__titulo-azul{
    color: var(--cor-azul);
}

.estado__titulo-verde{
    color: var(--cor-verde);
}

.estado__titulo-amarelo{
    color: var(--cor-amarelo);
}

.estado__data{
    font-weight: 200;
    font-size: .9rem;
    color: var(--cor-cinza-escuro);
    margin-bottom: .5em;
    margin-top: 0.3em;
   
}

.estado__status{
    font-weight: 200;
    font-size: 1rem;
    margin-left: 0.3em;
}

.estado__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius:50%;
    color: white;
    font-size: 1.5rem;
}

.estado__icon-azul{
    background-color: var(--cor-azul);
}
.estado__icon-verde{
    background-color: var(--cor-verde);
}
.estado__icon-amarelo{
    background-color: var(--cor-amarelo);
}