.input{
    padding: 1em 1em 1em 1.5em;
    border-radius: 30px 0 0 30px;
    border: 1px solid var(--cor-cinza-claro);
    border-right: 0;
    margin-right: -4px;
}

.sufixInput{
    /* grid-column: 3; */
    display:inline-block;
    padding: 1em .8em;
    font-size: 0.9rem;
    background-color: white;
    border: 1px solid var(--cor-cinza-claro);
    border-left: 0;
    text-align: center;
}

.input:focus-visible{
    border: 1px solid var(--cor-cinza-escuro);
    outline: none;
}

.input:focus-visible + .sufixInput{
    border: 1px solid var(--cor-cinza-escuro);
    border-left: 0;
}


.input-erro{
    border: 1px solid red !important;
}

.input-erro + .sufixInput{
    border: 1px solid red !important;
    border-left: 0 !important;
}

.msg-erro{
    margin-top: .5em;
    margin-left: 1.2em;
    color: red;
    font-size: .8rem;
    width: 100%;
}